MINIMAX_API_KEY=sk-cp-by8EgUUa18NZDuGer-SJDWkTCA-4-wzn3QBigm6L-LKQEbC0c1tbC_84vYuf3JRJhlGyUJqaWeFu6tc_Rg2JJVKBd7T4B_x8t4pALhEJzah88j8JUKi2rac
MINIMAX_BASE_URL=https://api.minimaxi.com/v1
MINIMAX_MODEL=MiniMax-M2.5
